---
layout: default
---

<div class="article-navigation">
  <img src="https://twimg0-a.akamaihd.net/profile_images/1507148306/via_canary_wharf_21082011.JPG" alt="Photo of Al Whatmough" width="132" height="132">
  Hi, I'm Al Whatmough. I'm a web developer based in London, UK. I like music, technology, and burritos.
  
  {% for item in site.categories.blog limit:40 offset:0 %}
    <a href="{{site.baseurl}}{{item.url}}" title="{{item.title}}">
      {{item.title}}
    </a>
  {% endfor %}
</div>

{% for item in site.categories.articles limit:1 offset:0 %}
  <div class="intro">
    <div class="title">{{item.title}}</div>
    <div class="abstract">{{item.abstract}}</div>
    <div class="meta"> Posted by <a href="http://twitter.com/{{item.author_twitter}}">{{item.author}}</a> on {{ item.date | date: "%B %d, %Y" }} </div>
  </div>

  <div class="article-wrapper">
    <div class="help post-content">
      Test 2 {{ item.content }}
    </div>
  </div>
{% endfor %}

